<header>
    <img src="/assets/graphics/Wacky Tales Logo.png" alt="Wacky Tales Logo">
</header>
<img src="/assets/graphics/Sticker 4.png" alt="Sticker Graphic" class="sticker-left">
<img src="/assets/graphics/Sticker 5.png" alt="Sticker Graphic" class="sticker-right">
<div class="content">
    <h1>Welcome to Wacky Tales</h1>
    <p>
        Wacky Tales is an interactive platform where you can create and fill in fun story templates. 
        Let your imagination run wild as you complete wacky stories and share them with your friends.
    </p>
    <div class="buttons">
      <a href="#" id="login">Login</a>
        <a href="/signup">Create Account</a>

    </div>
</div>
<img src="/assets/graphics/landing-page-clown.png" alt="Wacky Tales Clown" class="landing-page-clown">
<div id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Sign In</h2>
    <form id="signInForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <div class="modal-buttons">
        <button type="button" id="cancelButton">Cancel</button>
        <button type="submit">Sign In</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/index.js"></script>