<header>
        <img src="/assets/graphics/Wacky Tales Logo.png" alt="Wacky Tales Logo">
    </header>
    <div class="content">
        <h2>Login</h2>
    <form id="login-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <div class="modal-buttons">
        <button type="button" id="cancelButton">Cancel</button>
        <button type="submit">Sign In</button>
      </div>
    </form>             
  </div>
</div>
<img src="/assets/graphics/create-acct-clown.png" alt="Wacky Tales Clown" class="create-clown-image">
<img src="/assets/graphics/Clown Head Sticker.png" alt="Wacky Tales Clown" class="create-clown-left">
<script src="/js/login.js"></script>